*{
    box-sizing: border-box;
}

html{
    display: grid;
}

body{
    margin: 0;
    font-family: "system-ui";
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.4em; margin-top: 0;}
h3 {font-size: 2em; margin: 50px 0 0 10px;}
p  {font-size: 1.5em; margin: 20px;}
i {font-size: 2em;}
a {text-decoration: none;}

.container{
    max-width: 960px;
    margin: auto;
}



/*  ---------------------------------------
    ---------- CUERPO PRINCIPAL -----------
    ---------------------------------------*/
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 110vh;
    background-image: linear-gradient(
        0deg,
        rgba(38, 38, 39, 0.3),
        rgba(38, 38, 39, 0.3)
    )
    ,url("banner\ soporte\ tecnico.PNG");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-container{
    box-sizing: border-box;
}

#que-es{
    padding: 230px 12px;
}

#tipos{
    padding: 200px 12px;
    background-color: rgb(26 26 26);
    color: white;
}

#niveles{
    padding: 200px 12px;
}

#salarios{
    padding: 200px 12px;
    background-color: rgb(26 26 26);
    color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #6b6868;
}

.imagen1{
    width: 90vw;
    height: 330px;
    border-radius: 15px;
}

.imagen2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/*  -----------------------------------
    ---------- PIE DE PAGINA ----------
    -----------------------------------   */
footer{
    width: 100%;
    background: linear-gradient(100deg, #2c77d8, #103cca);
    padding: 25px;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social ul{
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 90px;
}

.social ul li a{
    font-size: 30px;
    color: white;
}

.comentar h3{
    font-size: 40px;
    color: white;
    margin: 40px 0 40px 0;
}

.copy{
    font-weight: 500;
}


/*  ---------------------------------------------------
    ---------------------------------------------------
    ---------- CAMBIOS PARA PANTALAS GRANDES ----------  
    ---------------------------------------------------
    ---------------------------------------------------   */
@media (min-width: 980px) {
    .container{
        max-width: 2560px;
        margin: auto;
    }

    #banner{
        height: 100vh;
    }

    #tipos{
        display: flex;
        flex-direction: row-reverse;
    }

    .texto1{ 
        padding-left: 50px;
    }

    #tipos .imagen1{
        height: 50vh;
    }

    #salarios{
        display: flex;
        flex-direction: row-reverse;
    }

    .texto3{ 
        padding-left: 50px;
    }

    #salarios .imagen1{
        height: 50vh;
    }

    .imagen1{
        width: 40vw;
        height: 100vh;
    }

    footer .container{
        justify-content: space-around;
    }

    .copy{
        width: 100%;
    }
}