ul {list-style: none;}
li {font-size: 1.3em;}

header p  {font-size: 1.3em; margin: 20px;}

/*  ------------------------------------
    ------------- CABEZA ---------------
    ------------------------------------   */
header{
    background: linear-gradient(-135deg, #2c77d8, #103cca, rgb(19, 115, 194));
    position: fixed;
    width: 100%;
    height: 83px;
    z-index: 2;
}

/*------------ ENCABEZADO ----------*/
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .contenedor-cabeza{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content:space-between;
}

.contenedor-cabeza .logo{
    margin: 0;
    padding: 20px 40px;
    font-weight: bold;
    color: #ec8800;
    font-size: 1.50em;
    text-align: left;
}

.contenedor-cabeza .boton{
    text-align: right;
    font-size: x-large;
    margin-right: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/*  ------------------------------------
    ---------- MENU PRINCIPAL ----------
    ------------------------------------  */
header .menu-normal-container{
    display: none;
}

/*  --------------------------------------------------
    ---------- MENU PARA PANTALLAS PEQUEÑAS ----------
    --------------------------------------------------- */
.container3{
    width: 100%;
}

.menu-moviles-container{
    display: none;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 10px 20px 0px black;
    transform-origin: 0 0;
    transform: translate3d(150%, 0, 0);
    animation: opcity 1.5s ease-in;

    transition-property: display, opacity, transform;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
}

.menu-moviles-container-scroll{
    height: 450px;
    overflow-y: auto;
}

.menu-moviles-principal{
    color: black;
    font-weight: bold;
    padding: 0 50px;
}

.menu-moviles-principal li:not(.menu-moviles-secundario li, .menu-moviles-terciario li){
    width: 100%;
    padding: 10px 17px;
    margin: 11px 0;
    border-bottom: 3px solid blue;
    cursor: pointer;
}

.enlace-moviles{
    font-size: 1.5em;
    display: block;
    color: black;
    width: 100%;
}

.menu-moviles-container-open{
    display: block;
    transform: translateY(0);
    opacity: 1;
 
    @starting-style {
          opacity: 0;
    }
}


/*--------- menu de ramas ---------*/
.boton2-moviles {font-size: 1.5em; margin: 0;}
.menu-moviles-secundario{
    display: none;
    font-weight: 300;
    padding: 0;
}

.menu-moviles-secundario li{
    width: 100%;
    margin: 11px 0;
}

.menu-moviles-secundario a {color: black;}
.menu-moviles-secundario-open {display: block;}



/*  ------------------------------------
    --------- menu de estudios ---------    
    ------------------------------------  */
.boton3-moviles {font-size: 1.5em; margin: 0;}
.menu-moviles-terciario{
    display: none;
    font-weight: 300;
    padding: 0;
}

.menu-moviles-terciario li:not(.menu-moviles-terciario-uno li, .menu-moviles-terciario-dos li){
    width: 100%;
    padding: 10px 17px;
    margin: 11px 0;
    border-bottom: 3px solid rgb(255, 136, 0);
    cursor: pointer;
}

.menu-moviles-terciario a {color: black;}
.menu-moviles-terciario-open {display: block;}

/*--------- UBA ---------*/
.boton4-moviles {font-size: 1.5em; margin: 0;}
.menu-moviles-terciario-uno{
    display: none;
    font-weight: 300;
    padding: 0;
}

.menu-moviles-terciario-uno li{
    width: 100%;
    margin: 11px 0;
    font-size: 1.1em;
}

.menu-moviles-terciario-uno a {color: black;}
.menu-moviles-terciario-uno-open {display: block;}


/*--------- UTN ---------*/
.boton5-moviles {font-size: 1.5em; margin: 0;}
.menu-moviles-terciario-dos{
    display: none;
    font-weight: 300;
    padding: 0;
}

.menu-moviles-terciario-dos li{
    width: 100%;
    margin: 11px 0;
    font-size: 1.1em;
}

.menu-moviles-terciario-dos a {color: black;}
.menu-moviles-terciario-dos-open {display: block;}

/*  -------------------------------------------------
    ---------- MENU PARA PANTALLAS GRANDES ----------
    -------------------------------------------------  */
@media (min-width: 980px) {

    header .container{
        margin: 0;
        height: 10px;
    }

    header .contenedor-cabeza{
        justify-content: center;
    }

    .contenedor-cabeza .boton{
        display: none;
    }

    .container2{
        background-color: white;
        height: 60px;
        width: 100%;
        box-shadow: 0 2px 10px 0 black;
    }

    header .menu-normal-container{
        display: inline;
        position: relative;
        background-color: white;
        height: 60px;
        width: 100%;

    }

    .menu-normal-principal{
        display: flex;  
        justify-content: center;
        padding: 0;
        cursor: pointer;
    }

    .menu-normal-principal li:not(.menu-terciario li, .menu-secundario li){
        font-weight: bold;
        font-size: 20px;
        height: 25px;
        width: 11.5em;
        text-align: center;

        &:before{
            content: "";
            display: block;
            width: 0;
            height: 3px;
            background: #185cc2;
            position: relative;
            left: 50%;
            top: 120%;
            transition: all 0.5s;
        }

        &:hover::before{
            width: 100%;
            left: 0;
        }
    }

    .menu-normal-principal li a{
        display: block;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
    }




    /*-----------------------------------
    ---------- MENU DE RAMAS ----------
    -----------------------------------*/
    
    .menu-secundario{
        position: relative;
        left: 115px;
        top: 10px;
        width: 285px;
        list-style: none;
        padding: 0.2em 0.5em;
        background: #ffffff;
        border: 1px solid #d6deee;
        box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.904);
        border-radius: 0 0 0.5em 0.5em;
        color: #000000;
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1;

        transform: translateX(-50%);
        transform: translate3d();
    }
    
    .menu-secundario li{
        text-align: left;
        padding: 0.7em 0.5em;
        margin: 0.3em 0em;
        cursor: pointer;
    
        &:before{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #d1750c;
        position: relative;
        left: 0%;
        top: 30px;
        transition: all 0.5s;
        }
    
        &:hover::before{
        width: 100%;
        }
    }
    
    .menu-secundario li a{
        text-decoration: none;
        color: #000000;
    }
    
    .menu-secundario-open{
        display: block;
        opacity: 1;
    }





    /*  --------------------------------------
        ---------- MENU DE ESTUDIOS ----------
        --------------------------------------   */
    
    .menu-terciario{
        position: relative;
        left: 115px;
        top: 10px;
        list-style: none;
        padding: 0.2em 0.5em;
        background: #ffffff;
        border: 1px solid #d6deee;
        box-shadow: 0 0.5em 1em rgba(84, 84, 88, 0.904);
        border-radius: 0 0 0.5em 0.5em;
        color: #000000;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1;
    }
    
    .menu-terciario  li:not(.menu-terciario-uno li, .menu-terciario-dos li){
        text-align: left;
        height: 100px;
        padding: 0.7em 0.5em;
        margin: 0.3em 0em;
        border-radius: 0.5em;
        cursor: pointer;
    
        &:before{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #d1750c;
        position: relative;
        left: 0%;
        top: 70px;
        transition: all 0.5s;
        }
    
        &:hover::before{
        width: 100%;
        }
    }
    
    .menu-terciario li a{
        text-decoration: none;
        color: #000000;
    }
    
    .menu-terciario-open{
        display: block;
        opacity: 1;
    }

    /*---------------------------------- UBA ----------------------------------*/
    .boton3{
        font-size: 25px;
    }

    .menu-terciario-uno{
        position: relative;
        left: 25.7vw;
        bottom: 60px;
        width: 30vw;
        list-style: none;
        padding: 0.2em 0.5em;
        background: #ffffff;
        border: 1px solid #d6deee;
        box-shadow: 0 0.5em 1em rgba(84, 84, 88, 0.904);
        border-radius: 0 0 0.5em 0.5em;
        color: #000000;
        transform: translateX(-50%);
        opacity: 1;
        display: none;
        transition: 0.2s;
        z-index: 1;
    }
    
    .menu-terciario-uno  li{
        text-align: left;
        padding: 0.7em 0.5em;
        margin: 0.3em 0em;
        border-radius: 0.5em;
        cursor: pointer;
    
        &:before{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #185cc2;
        position: relative;
        left: 0%;
        top: 30px;
        transition: all 0.5s;
        }
    
        &:hover::before{
        width: 100%;
        }
    }
    
    .menu-terciario-uno li a{
        text-decoration: none;
        color: #000000;
    }
    
    .menu-terciario-uno-open{
        display: block;
        opacity: 1;
    }



    /*---------------------------------- UTN ----------------------------------*/
    .boton4{
        font-size: 25px;
    }

    .menu-terciario-dos{
        position: relative;
        left: 25.7vw;
        bottom: 60px;
        width: 30vw;
        list-style: none;
        padding: 0.2em 0.5em;
        background: #ffffff;
        border: 1px solid #d6deee;
        box-shadow: 0 0.5em 1em rgba(84, 84, 88, 0.904);
        border-radius: 0 0 0.5em 0.5em;
        color: #000000;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1;
    }
    
    .menu-terciario-dos  li{
        text-align: left;
        padding: 0.7em 0.5em;
        margin: 0.3em 0em;
        border-radius: 0.5em;
        cursor: pointer;
    
        &:before{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #185cc2;
        position: relative;
        left: 0%;
        top: 30px;
        transition: all 0.5s;
        }
    
        &:hover::before{
        width: 100%;
        }
    }
    
    .menu-terciario-dos li a{
        text-decoration: none;
        color: #000000;
    }
    
    .menu-terciario-dos-open{
        display: block;
        opacity: 1;
    }
}